{
    "Version": "1.0.0",
    "ReleaseNotes": "",
    "Sms": "",
    "UrlUpdate": "",
    "EmailFeedback": "",
    "UrlContato": "",
    "videoUrl": "off",
    "logoonline": "Off",
    "fundoonline": "Off",
    "fundoDoLogOnline": "Off",
    "rodapeonline": "Off",
    "UrlTermos": "",
    "CheckUser": "true",
    "Udp": [
        {
            "Porta": "PORTA_UDP"
        }
    ],
    "UdpPort": "PORTA_UDP",
    "Servers": [
        {
            "Name": "NOME_DO_SERVIDOR",
            "TYPE": "premium",
            "FLAG": "icone.png",
            "ServerIP": "IP_DO_SERVIDOR",
            "CheckUser": "URL_DE_VERIFICACAO",
            "ServerPort": "22",
            "SSLPort": "443",
            "USER": "USUARIO",
            "PASS": "SENHA"
        }
    ],
    "Networks": [
        {
            "Name": "NOME_DA_REDE",
            "FLAG": "icone",
            "Payload": "DADOS_DO_PAYLOAD",
            "SNI": "SNI",
            "TlsIP": "IP_TTLS",
            "ProxyIP": "IP_DO_PROXY",
            "ProxyPort": "PORTA_DO_PROXY",
            "Info": "INFO"
        }
    ]
}
