{
    "UdpPort": {
        "description": "Porta UDP para comunicação.",
        "type": "integer",
        "min": 1,
        "max": 65535
    },
    "Servers": {
        "description": "Configurações dos servidores.",
        "type": "array",
        "items": {
            "Name": {
                "description": "Nome do servidor.",
                "type": "string"
            },
            "ServerIP": {
                "description": "Endereço IP do servidor.",
                "type": "string",
                "format": "ip"
            },
            "CheckUser": {
                "description": "URL para verificação de usuário.",
                "type": "string",
                "format": "url"
            },
            "USER": {
                "description": "Nome de usuário para autenticação.",
                "type": "string"
            },
            "PASS": {
                "description": "Senha para autenticação.",
                "type": "string"
            }
        }
    },
    "Networks": {
        "description": "Configurações das redes.",
        "type": "array",
        "items": {
            "Name": {
                "description": "Nome da rede.",
                "type": "string"
            },
            "Payload": {
                "description": "Dados do payload.",
                "type": "string"
            },
            "SNI": {
                "description": "SNI para a rede.",
                "type": "string"
            },
            "TlsIP": {
                "description": "IP para TLS.",
                "type": "string",
                "format": "ip"
            },
            "ProxyIP": {
                "description": "Endereço IP do proxy.",
                "type": "string",
                "format": "ip"
            },
            "ProxyPort": {
                "description": "Porta do proxy.",
                "type": "integer",
                "min": 1,
                "max": 65535
            }
        }
    }
}
