{
    "UdpPort": "NOVO_PORTA_UDP",
    "Servers": [
        {
            "Name": "NOVO_NOME_DO_SERVIDOR",
            "ServerIP": "NOVO_IP_DO_SERVIDOR",
            "CheckUser": "NOVO_URL_DE_VERIFICACAO",
            "USER": "NOVO_USUARIO",
            "PASS": "NOVA_SENHA"
        }
    ],
    "Networks": [
        {
            "Name": "NOVA_REDE",
            "Payload": "NOVO_DADOS_DO_PAYLOAD",
            "SNI": "NOVO_SNI",
            "TlsIP": "NOVO_IP_TTLS",
            "ProxyIP": "NOVO_IP_DO_PROXY",
            "ProxyPort": "NOVA_PORTA_DO_PROXY"
        }
    ]
}
